# Challenge Name - Frontend Mentor Challenge

This is my solution to the [Frontend Mentor](https://www.frontendmentor.io) "Challenge Name" challenge. It was built using HTML5 and [Tailwind CSS](https://tailwindcss.com).

## Links

- [Project Page on Frontend Mentor](https://www.frontendmentor.io/challenges/CHALENGE-SLUG)
- [Live Demo](https://jboys.github.io/REPO-NAME)

## How to Use

1. Clone the repo:  
   `git clone https://github.com/jboys/REPO-NAME.git`
2. Open `index.html` in your browser to view the solution.
